# PostgreSQL
POSTGRES_DB=orderflow
POSTGRES_USER=orderflow
POSTGRES_PASSWORD=xxxxxx
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=orderflow
RABBITMQ_PASSWORD=xxxxxx
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Stripe
STRIPE_SECRET_KEY=xxxxxx
STRIPE_WEBHOOK_SECRET=xxxxxx